.form__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 80px 0;
}

.form__container form{
    display: flex;
    flex-direction: column;
    max-width: 80%;

    background-color: #F6F6F6;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    padding: 8px 100px;
    margin-top: 30px;
}
.form__container form h2{
    font-size: 24px;
    font-weight: 400;
    color: #212121;
}