.campo{
    margin: 12px 0;
    font-family: 'Montserrat', sans-serif;
}
.campo__label{
    display: block;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.campo input{
    width: 100%;
    margin-top: 8px;
    padding: 30px 20px;
    box-sizing: border-box;

    background-color: #FFFFFF;
    outline-color: #6278F7;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;

    font-size: 16px;
}

.campo__color input{
    height: 40px;
    padding: 5px 20px;
}